/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

/*https://coolors.co/7d7b1f-b8b42d-697a21-fffce8-cfcbbe-9f9994-3e363f-8e3b3d-dd403a*/

/*https://coolors.co/00475b-004e64-007a9a-00a5cf-50d2cd-9fffcb-62d0ad-25a18e-50c388-7ae582*/
/*https://coolors.co/0a344c-0b3954-0a5c70-087e8b-bfd7ea-df99a5-ff5a5f-c81d25-cd3239*/
/*https://coolors.co/37143c-3c1642-223d5c-086375-139b93-1dd3b0-66e879-affc41-b6fc52*/
/*https://coolors.co/353535-395253-3c6e71-6d9395-9eb7b8-ffffff-ececec-8a9ca8-284b63-3c5b71*/
/*https://coolors.co/05668d-427aa1-97b6ce-ebf2fa-a9c398-679436-86a91b-a5be00*/
/*https://coolors.co/562c2c-a4402d-f2542d-f49a74-f5dfbb-82baa8-0e9594-108585-127475*/
/*https://coolors.co/e63946-f1faee-cdeae5-a8dadc-457b9d-386486-31587a-2a4c6e-244163-1d3557*/
/*https://coolors.co/606c38-445128-283618-93987c-fefae0-eece9f-dda15e-bc6c25*/
/*https://coolors.co/264653-287271-2a9d8f-8ab17d-e9c46a-efb366-f4a261-ee8959-e76f51*/
/*https://coolors.co/22577a-2d7d90-38a3a5-48b89f-57cc99-6cdd99-80ed99-a4f3b3-c7f9cc*/
/*https://coolors.co/e63946-ec9a9a-f1faee-cdeae5-a8dadc-457b9d-31587a-1d3557-324766*/
/*https://coolors.co/004e64-00a5cf-9fffcb-25a18e-7ae582*/
/*https://wireframe.cc/UDnbUu*/

:root {
  /* change the values below to your colors from your palette: coolors.co/05668d-427aa1-
  97b6ce-ebf2fa-a9c398-679436-86a91b-a5be00 */
  --primary-color: #31587a   ;
  --secondary-color: #f1faee;
  --accent1-color:#ec9a9a;
  --accent2-color: #a8dadc;
  ---adc: #0a344c #0b3954 #0a5c70 #087e8b #bfd7ea #df99a5 #ff5a5f #c81d25 #cd3239;
  ---adc: #00475b #004e64 #007a9a #00a5cf #50d2cd #9fffcb #62d0ad #25a18e #50c388 #7ae582;
  ---adc: #004e64 #00a5cf #9fffcb #25a18e #7ae582;
  ---klabidel: #e63946 #ec9a9a #f1faee #cdeae5 #a8dadc #457b9d #31587a #1d3557 #324766 ;


  /* change the values below to your chosen font(s) */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #31587a;  /* headlines on a white background */ 
  --headline-color-on-color: #e63946; /* headlines on a colored background */ 
  --paragraph-color-on-white: #e63946; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #1d3557; /* paragraph text on a colored background */ 
  --paragraph-background-color: #a8dadc  ;
  --nav-link-color: #324766;
  --nav-background-color: #a8dadc;
  --nav-hover-link-color: #324766;
  --nav-hover-background-color: #e63946;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
#logo_link img {
  width: 250px;
  border-radius: 50%;
}
main img {
  width: 200px;
  height:200px;
  display: inline-block;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}