@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
/*https://coolors.co/7d7b1f-b8b42d-697a21-fffce8-cfcbbe-9f9994-3e363f-8e3b3d-dd403a*/

/*https://coolors.co/00475b-004e64-007a9a-00a5cf-50d2cd-9fffcb-62d0ad-25a18e-50c388-7ae582*/
/*https://coolors.co/0a344c-0b3954-0a5c70-087e8b-bfd7ea-df99a5-ff5a5f-c81d25-cd3239*/
/*https://coolors.co/37143c-3c1642-223d5c-086375-139b93-1dd3b0-66e879-affc41-b6fc52*/
/*https://coolors.co/353535-395253-3c6e71-6d9395-9eb7b8-ffffff-ececec-8a9ca8-284b63-3c5b71*/
/*https://coolors.co/05668d-427aa1-97b6ce-ebf2fa-a9c398-679436-86a91b-a5be00*/
/*https://coolors.co/562c2c-a4402d-f2542d-f49a74-f5dfbb-82baa8-0e9594-108585-127475*/
/*https://coolors.co/e63946-f1faee-cdeae5-a8dadc-457b9d-386486-31587a-2a4c6e-244163-1d3557*/
/*https://coolors.co/606c38-445128-283618-93987c-fefae0-eece9f-dda15e-bc6c25*/
/*https://coolors.co/264653-287271-2a9d8f-8ab17d-e9c46a-efb366-f4a261-ee8959-e76f51*/
/*https://coolors.co/22577a-2d7d90-38a3a5-48b89f-57cc99-6cdd99-80ed99-a4f3b3-c7f9cc*/
/*https://coolors.co/e63946-ec9a9a-f1faee-cdeae5-a8dadc-457b9d-31587a-1d3557-324766*/
/*https://coolors.co/004e64-00a5cf-9fffcb-25a18e-7ae582*/
/*https://wireframe.cc/UDnbUu*/

div {
    max-width: 1600px;
}
#content {
    margin: 0 auto;
    text-align: center;
}
body {
    background-color: #a8dadc;
    font-family: 'Nanum Gothic', 'Brand Gothic', sans-serif;
    font-size: 22px;
    margin: 0;
    /*padding: 0;*/
    overflow-x: auto;
}
h2 {
    margin: 0;
}
header {
    background-color: #31587a;
    display: grid;
    grid-template-columns: 150px auto;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-around;
}    
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
    border-radius: 50%;
}
nav a {
    text-align: center;
    color: #000001;
    text-decoration: none;
    padding: 35px;
}
nav a:hover, .msg:hover {
    background-color: #a8dadc;
    color: #31587a;
    transition: all 0.5s;
}
.contact:hover {
    background-color: #31587a;
    color:#ec9a9a;
    transition: color;
}
.home-title {
    color : #a8dadc;
    font-family: 'Harrington', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #a8dadc;
}
.order, .contact {
    background-color: #a8dadc;
    color: #31587a;
    text-decoration: none;
    font-size: 18px;
    padding:15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #f1faee;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #324766;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.pexels-card, .pexel-card, .clippers-card, .dorco-card {
    margin: 200px 0;
}
.order:hover, .conctact:hover {
    background-color: #457b9d;
    color: #f1faee;
}
.home-grid {
    display: grid;
    width: 300px;
}
.card-img, .lotion {
    width: 300px;
}
.powder {
    width: 300px;
    grid-column: 1fr;
    grid-row: 2;
}
.pexels-card {
    grid-column: 1fr;
    grid-row: 0;
}
.pexel-card {
    grid-column: 1fr;
    grid-row: 0;
}
.clippers-card {
    grid-column: 1fr;
    grid-row: 0;
}
#background {
    height:725px;
    /*grid-column: 1/11;
    grid-row: 4/9;*/
}
.borgeas-icon{
    width: 100px;
    border: 10px #f1faee solid;
    border-radius: 50%;
    grid-column: 1fr;
    grid-row: 2;
}
.lotion {
    grid-column: 2fr;
    grid-row: 2;
    box-shadow: 5px 5px 10px #f1faee;
}
.msg {
    background-color: #cdeae5;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 1fr;
    grid-row: 4;
    position: relative;
    right: -200px;
    box-shadow: 5px 5px 10px #31587a;
}
.msg h2 {
    color: #1d3557;
}
.msg p {
    color: #457b9d;
    font-size: .8em;
    padding-bottom:15px;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1fr 1fr 1fr;
}
.pexels-card {
    width: 300px;
    grid-column: 1fr;
    grid-row: 1;
    position: relative;
    right: 0;
}
.pexel-card {
    width: 300px;
    grid-column: 1fr;
    position: relative;
    left: 0;
    grid-row: 1;
}
.clippers-card {
    width: 300px;
    grid-column: 1fr;
    position: relative;
    left: 0;
    grid-row: 1;
}
.dorco-card {
    width: 150px;
    grid-column: 2fr;
    grid-row: 2;
    position: relative;
    top: -300px;
    right: -100px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-img {
    width: 100%;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
.icon {
    width: 80px;
    padding-top:10px;
}
footer {
    background-color: #31587a;
    color: #cdeae5;
    padding: 20px;
    text-align: right;
    display: flex;
    justify-content: flex-start;
    /*width: 100%*/
    /*bottom: 0;
    position: relative;*/
}

footer .location-card img {
    width: 70px;
    position: absolute;
    text-align: right;
    display: inline;
    align-items: flex-end;
}

footer .location-card h3 {
    position: left bottom;
    text-align: left;
    align-items: flex-end;
}

.social-media-icons {
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: flex-end; /* Align content to the bottom */
    text-align: left;
}

.social-media-icons a {
    text-decoration: none; /* Remove underlines from the links */
    color: #fff; /* Set the icon color to white */
    margin-right: 10px; /* Add spacing between social media icons */
}

.social-media-icons img {
    width: 30px; /* Set the width of the social media icons */
    height: 30px; /* Set the height of the social media icons */
}


footer a {
    color: #ec9a9a;
    text-decoration: none;
    width: auto;
    text-align: center;
    display: flex;
    position:relative;
    margin: 0;
}
footer a:hover {
    color: #e63946;
}
footer p {
    font-size: 1.2em;
    right: 100px;
    text-align: right;
    display:flex;
    position: absolute;
    margin: 0;
}
footer p a:hover {
    text-decoration: underline;
}


/*footer .social-medias img {
    width: 60px;
    display: inline-block;
    padding-top: 0;
    position: horizontal;
    bottom:0;
    left: 0;
    margin: 7px; 
}

footer a {
    color: #ec9a9a;
    text-decoration: none;
    width: auto;
    display: inline-block;
    position: relative;
    margin: 0;
}
footer a:hover {
    color: #e63946;
}
footer p {
    font-size: 1.2em;
    right: 100px;
}
footer p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #ec9a9a;
    }
    .pexels-card, .pexel-card, .clippers-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .pexels-card, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
        width: 100%;
        display: inline-block;
    }
}*/