


body {
    font-family: var(--paragraph-font);
    max-width: 1024px;
    background: var(--nav-background-color);
    align-items: center;
    margin: 0;
    padding: 20px;
}

.fa {
    display : inline-block;
    font : normal normal normal 14px/1 FontAwesome;
    font-size : inherit;
    }

:root {
    --primary-color: #011627;
    --secondary-color: #41ead4;
    --accent1-color: #fdfffc;
    --accent2-color: #ff9f1c;
    --accent3-color: #f71735;

    --heading-font: 'Segoe UI', serif;
    --paragraph-font: 'Segoe UI', serif;
    --table-font: 'Segoe UI', serif;

    --nav-background-color: #011627;
    --nav-link-color: #fdfffc;
    --nav-hover-link-color: #41ead4;
    --nav-hover-background-color: #ff9f1c;
}

form {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-background-color);
    padding: 20px;
    border: 5px solid var(--accent2-color);
    border-radius: 5px;
    box-shadow: 3px 3px 10px 3px var(--nav-hover-link-color);
    max-width: 600px;
    margin: 0 auto;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: var(--accent3-color);
    border: 2px solid var(--nav-hover-link-color);
    border-radius: 5px;
    color: var(--nav-background-color);
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button[type="submit"]:hover {
    width: 100%;
    padding: 10px;
    background-color: var(--nav-background-color);
    border: 2px solid var(--nav-hover-background-color);
    border-radius: 5px;
    color: var(--nav-hover-link-color);
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--nav-hover-link-color);
    border: 1px solid var(--nav-hover-link-color);
    border-radius: 3px;
}

pre {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-background-color);
    font-size: 1.5rem;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="number"] {
    width: 100%;
    font-size: 20px;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textarea {
    text-align: center;
    width: 100%;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

select {
    width: 100%;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="text"] {
    width: 100%;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    font-size: 1.5rem;
}
label {
    font-size: 1rem;
}
