@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');


body {
    font-family: var(--paragraph-font);
    max-width: 1024px;
    background: var(--accent1-color);
    align-items: center;
}

:root {
    --primary-color: #011627;
    --secondary-color: #41ead4;
    --accent1-color: #fdfffc;
    --accent2-color: #ff9f1c;
    --accent3-color: #f71735;

    --heading-font: 'Segoe UI', serif;
    --paragraph-font: 'Segoe UI', serif;

    --nav-background-color: #011627;
    --nav-link-color: #fdfffc;
    --nav-hover-link-color: #41ead4;
    --nav-hover-background-color: #ff9f1c;
}

div {
    position: relative;
}
.hero main img {
    display: block;
    width: 100%;
    height: auto;
}
.hero {
    width: 100%;
}

h1, article {
    position: absolute;
}
article {
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 10;
    left: -100px;
    padding: 10px;
    margin: 200px;
    top: 10px;
    background-color: var(--nav-hover-link-color);
    color: var(--primary-color);
    opacity: 0.7;
}

h1 {
    width: 100%;
    top: 30px;
    text-align: center;
    padding: 30px;
    background-color: var(--nav-background-color);
    opacity: 0.7;
}

article img {
    width: 18%;
    height: 150px;
    float: right;
}

h1, h2, h3, h4, h5, h6, .text {
    color: var(--secondary-color);
}
header {
    width: 100%;
    height: 110px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: var(--nav-hover-link-color);
}

header img {
    position: relative;
    width: 110px;
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
    flex-shrink: 20;

}

header nav {
    grid-column-start: 5;
    grid-column-end: 8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 5;
}

header nav a {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    border: solid 1px var(--nav-background-color);
    text-decoration: none;
    color: var(--nav-background-color);
    transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -webkit-transition: all 700ms ease-in-out;
    animation: 3s ease-in 1s 2 reverse both paused;
    animation: 3s linear 1s slidein;
}
header nav a:hover {
    text-transform: uppercase;
    border: 2px solid var(--nav-hover-background-color);
    color: var(--nav-hover-background-color);
    transition-property: height, width;
    transition-duration: 1s, 500ms;
    transition-timing-function: linear;
    transition-delay: 0s, 1s;
    background: var(--nav-hover-link-color);
    transition: all 700ms ease-in-out;
    -moz-transition: all 700ms ease-in-out;
    -webkit-transition: all 700ms ease-in-out;
    animation: 3s ease-in 1s 2 reverse both paused;
    animation: 3s linear 1s slidein;   
}


/*SECTION ONE MODIFICATIONS*/


section.history {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 10;
}
.my_way {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 10;
}

.history img {
    position: relative;
    top: 20px;
    height: 200px;
    order: 1;
}
.lorem {
    order: 2;
}

.paragraph {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 10;
}


/*SECTION TWO MODIFICATIONS*/

.adventure {
    padding: 20px;
}
.my_way_2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 10;
}
.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.images img {
    width: 16%;
    height: 150px;
    flex-shrink: 10;
}

.text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    justify-items: center;
    column-gap: 0;
    flex-shrink: 10;
}





footer {
    height: 80px;
    background-color: var(--nav-hover-link-color);
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}
footer nav {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
footer img {
    width: 50px;
}

footer .sociallinks {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}


footer .borgeas {
    display: inline-flex;
    margin-bottom: 10px;
    align-self: center;
    justify-self: center;
    align-content: flex-start;
    flex-direction: row;
    left: -100px;
    position: relative;
}