@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;

    --heading-font: 'Segoe UI', serif;
    --paragraph-font: 'Segoe UI', serif;

    --nav-background-color: #396e94;
    --nav-link-color: #a43312;
    --nav-hover-link-color: #381d2a;
    --nav-hover-background-color: #e7c24f;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p.colored {
  background-color: var(--nav-background-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;   
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}


p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1rem;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: var(--nav-background-color);
  }
  .colors td{
    width: 25%;
    height: 3rem;
  }
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }